<p class="lead">
    Confira abaixo a lista dos Professores:
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Código do Professor</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Idade</th>
            <th scope="col">Matéria</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Leila</td>
            <td>Pereira</td>
            <td>50</td>
            <td>Administração</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Anderson</td>
            <td>Barros</td>
            <td>55</td>
            <td>Vendas</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Marta</td>
            <td>Silva</td>
            <td>38</td>
            <td>Técnicas de ataque</td>
        </tr>
</table>

<figure class="text-end">
    <blockquote class="blockquote">
        <p>"Transmitir conhecimento não é apenas falar o que sabe, mas inspirar novas atitudes!"</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Juliano Kimura.
    </figcaption>
</figure>
