<table class="table">
    <thead>
        <tr>
            <th scope="col">Código do SepAluno</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Idade</th>
            <th scope="col">Posição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Abel</td>
            <td>Ferreira</td>
            <td>44</td>
            <td>Técnico</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Gustavo</td>
            <td>Goméz</td>
            <td>30</td>
            <td>Zagueiro</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Artur</td>
            <td>Cabral</td>
            <td>26</td>
            <td>Atacante</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Raphael</td>
            <td>Veiga</td>
            <td>27</td>
            <td>Meio-Campista</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Bia</td>
            <td>Zanerato</td>
            <td>23</td>
            <td>Centro-Avante</td>
        </tr>
    </tbody>
</table>