@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Agosto chegou!</h1>
</div>

<div class="text-center">

    <p><a href="https://www.youtube.com/watch?v=nn_0zPAfyo8&ab_channel=TaylorSwiftVEVO" class="link-success">Clique aqui para uma mensagem especial!</a></p>
</div>

<!--
<div class="text-center">
    <h1 class="display-4">2023</h1>
    <p>Leia sobre nós: <a href="https://www.youtube.com/watch?v=aNjDayRTChQ">PALMEIRASCHOOL</a>.</p>
</div
-->