@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">2023</h1>
    <p>Leia sobre nós: <a href="https://www.youtube.com/watch?v=aNjDayRTChQ">PALMEIRASCHOOL</a>.</p>
</div>
