@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MUSICLASS</h1>
    <p class="lead">
        Ouça sempre o seu coração!
    </p>
</div>

<div class="text-center">

    <p><a href="https://www.youtube.com/watch?v=ulRXvH8VOl8&ab_channel=GreenDay-Topic" class="link-success">Clique aqui e veja a indicação do dia</a></p>
</div>
