@if (ViewData["MsgCsdt"] != null)
{
    <div class="alert-success">
        @ViewData["MsgCsdt"]
    </div>
}

<p class="lead">
    Preencha as informações abaixo:
</p>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nome:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(Digite apenas o nome)">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Sobrenome:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(Digite apenas o sobrenome)">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Idade:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(Digite em formato numérico)">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Posição:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="(Digite onde o aluno atua em campo)">
</div>

<div class="row g-3 align-items-center">
    <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">CEP:</label>
    </div>
    <div class="col-auto">
        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="(Digite apenas números)">
    </div>
    <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
            Deve ter 8 dígitos.
        </span>
    </div>
</div>

&nbsp;

<div class="d-grid gap-2">
     <a type="submit" class="btn btn-info" type="button" asp-controller="Aluno" asp-action="ConfirmacaoCadastro"> Cadastrar Aluno(a)</a>
</div>

&nbsp;

<div class="d-grid gap-2 d-md-block">
    <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="Index"> Voltar</a>
</div>
