@model Aluno

<form asp-controller="Aluno" asp-action="InserirAluno" method="post">

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="nome" class="form-control col-md-4">
    </div>
    <div class="mb-3">
        <label for="sobrenome" class="form-label">Sobrenome</label>
        <input type="text" asp-for="sobrenome" class="form-control col-md-4">
    </div>
    <div class="mb-3">
        <label for="posicao" class="form-label">Posição</label>
        <input type="text" asp-for="posicao" class="form-control col-md-4">
    </div>
    <div class="mb-3">
        <label for="cep" class="form-label">Cep</label>
        <input type="text" asp-for="cep" class="form-control col-md-4">
    </div>
    <div class="mb-3">
        <label for="idade" class="form-label">Idade</label>
        <input type="number" asp-for="idade" class="form-control col-md-4">
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary" type="button"> Cadastrar Aluno(a)</button>
    </div>
</form>

&nbsp;

<div class="d-grid gap-2 d-md-block">
    <a type="submit" class="btn btn-primary" role="button" asp-controller="Aluno" asp-action="Index"> Voltar</a>
</div>
