@{
    Layout = "_layoutLogin";
}

@* <style>
body {
        background-image: url('https://i.pinimg.com/736x/51/d3/85/51d385b2d40f78849351fcbd3e32d8bb.jpg');
}
</style> *@

@if (ViewData["MsgErro"] != null)
{
    <div class="alert-danger">
        @ViewData["MsgErro"]
    </div>
}

@model Login

<form asp-controller="Login" asp-action="FazerLogin">

    <div class="mb-3">
        <label for="nome" class="form-label">Usuario</label>
        <input type="text" asp-for="usuario" class="form-control col-md-4">
    </div>

    <div class="mb-3">
        <label for="sobrenome" class="form-label">Senha</label>
        <input type="text" asp-for="senha" class="form-control col-md-4">
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary" type="button">ENTRAR</button>
    </div>
</form>